.graphic-design {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0 auto;
  width: 70%;
}

.logos-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

#Adidas {
  margin-right: 20px;
  margin-bottom: 20px;
}

#Ioios {
  margin-right: 20px;
  margin-bottom: 20px;
}

#Forest-Bathing-Circle {
  margin-bottom: 20px;
}

#Think-Out-Loud {
  margin-bottom: 20px;
}
