.circle {
  background: red;
  clip-path: circle(50% at 50% 25%);
  height: 100px;
  width: 100px;
  opacity: 0.8;
  margin: -25px;
  margin-left: 195px;

  -webkit-transition: all 500ms;
}

/* .circle:hover {
  -webkit-transform: translate3d(500px, 0, 0);
} */

/* #about:hover {
  -webkit-transform: translate3d(500px, 0, 0);
}

#uxui:hover {
  -webkit-transform: translate3d(500px, 0, 0);
}

#graphicdesign:hover {
  -webkit-transform: translate3d(500px, 0, 0);
}

#photography:hover {
  -webkit-transform: translate3d(500px, 0, 0);
}

#socialicons:hover {
  -webkit-transform: translate3d(500px, 0, 0);
} */

.navbar {
  font-size: 18px;
  padding-bottom: 50px;
  margin-top: -20px;
  margin-bottom: 20px;

  width: 70%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.logo-left {
  margin-top: 15px;
  width: 30%;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.navlink {
  text-align: center;
  margin: 0px auto;
  list-style-type: none;
  padding: 0px 30px;
}

#socialicons {
  text-align: center;
  margin: 0px auto;
  list-style: none;
  padding: 0px 0px;
}

a {
  color: black;
  text-decoration: none;
}
