/* 
color schemes
#D8526A
#DF233A
#FFAE00
#005725
#0093B9
#040405
#EDC128
#F01B10
#399147
#2D73B8
#D4DDDB
#F1433C
#4FC895
#FFFFFF
#000000
https://www.flaticon.com/packs/social-media-86?k=1594128698459
*/

body {
  padding: 0;
  margin: 0 auto;
  width: 80%;

  background-image: url(../src/Assets/website-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
